---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Yehezkiel Dio | Software Developer"
    description="A software developer and sometimes software architect based at Balikpapan, Indonesia."
>
    <div
        class="relative flex flex-col h-auto items-start justify-center bg-gradient-to-b from-slate-900 to-blue-charcoal-950"
    >
        <div class="mx-4 lg:mx-32 mt-8 flex-col items-start justify-start sm:px-2 py-8 xl:px-0">
            <nav>
                <h1 class="text-xl font-medium text-blue-charcoal-100">Yehezkiel Dio Sinolungan</h1>
                <h2 class="text-lg font-light text-blue-charcoal-200">Software Developer</h2>
            </nav>
            <main class="mt-12 max-w-full lg:max-w-2xl">
                <p class="text-sm lg:text-base">
                    Hello, and greetings! I'm <span class="font-semibold">Yehezkiel Dio Sinolungan</span> or Dio for
                    short. I'm a software developer with a passion for building things, particularly websites and web
                    applications, but I'm also quite interested in software architecture, design and infrastructure.
                </p>
                <p class="text-sm lg:text-base mt-4">
                    Currently, I'm a Informatics undergraduate student at Universitas Mulia, Balikpapan, Indonesia -
                    while also working as a freelance web developer.
                </p>
                <p class="text-sm lg:text-base mt-4">
                    View my past and current projects on my <a class="text-blue-charcoal-300 underline" href="/projects"
                        >projects page</a
                    >. View my <a
                        class="text-blue-charcoal-300 underline"
                        href="https://drive.google.com/file/d/14eXZ-XAyyI04r-7OCLnqqAdiKO1R7bsU/view">CV</a
                    >. I also have a page for my current <a class="text-blue-charcoal-300 underline" href="/stack"
                        >technology stack</a
                    >
                     if you're interested.

                    <div class="flex items-center justify-between gap-1 mt-6">
                        <div class="md:flex space-x-2">
                            <a
                                href="https://www.instagram.com/yhezkiel.dio"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-sm lg:text-base transition-colors hover:text-blue-charcoal-300 text-blue-charcoal-200 border-b border-b-blue-charcoal-200 hover:border-b-blue-charcoal-300 font-medium"
                                >Instagram</a
                            >
                            <a
                                href="https://www.linkedin.com/in/yehezkieldio"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-sm lg:text-base transition-colors hover:text-blue-charcoal-300 text-blue-charcoal-200 border-b border-b-blue-charcoal-200 hover:border-b-blue-charcoal-300 font-medium"
                                >LinkedIn</a
                            >
                            <a
                                href="https://github.com/yehezkieldio/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-sm lg:text-base transition-colors hover:text-blue-charcoal-300 text-blue-charcoal-200 border-b border-b-blue-charcoal-200 hover:border-b-blue-charcoal-300 font-medium"
                                >GitHub</a
                            >
                        </div>
                    </div>
                </p>
            </main>
        </div>
    </div>
</Layout>
