---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Yehezkiel Dio | Software Developer"
    description="A software developer and sometimes software architect based at Balikpapan, Indonesia."
>
    <div
        class="relative flex flex-col h-auto items-start justify-center bg-gradient-to-b from-slate-900 to-blue-charcoal-950"
    >
        <div class="mx-4 lg:mx-32 mt-8 flex-col items-start justify-start sm:px-2 py-8 xl:px-0">
            <nav>
                <h1 class="text-xl font-medium text-blue-charcoal-100">Yehezkiel Dio Sinolungan</h1>
                <h2 class="text-lg font-light text-blue-charcoal-200">Software Developer</h2>
            </nav>
            <main class="mt-14 lg:max-w-3xl">
                <p class="text-sm lg:text-base">
                    Hello, and greetings! I'm Yehezkiel Dio Sinolungan or Dio for short. I'm a software developer with a
                    passion for building things, particularly websites and web applications, but I'm also quite
                    interested in software architecture, design and infrastructure.
                </p>
                <p class="mt-4 text-sm italic">(i'm sort of a software architect myself)</p>
                <p class="text-sm lg:text-base mt-4">
                    Currently, I'm a Informatics undergraduate student at Universitas Mulia, Balikpapan, Indonesia -
                    while also working as a freelance web developer.
                </p>
            </main>
        </div>
    </div>
</Layout>
