---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Yehezkiel Dio"
    description="A software developer and sometimes software architect based at Balikpapan, Indonesia."
>
    <main>Hello, world!</main>
</Layout>
