---
import { Image } from "astro:assets";

const images = await Astro.glob("/src/images/projects/*").then((files) => {
    return files.map((file) => file.default);
});
---

<div class="relative flex overflow-x-hidden">
    <div class="py-12 animate-marquee whitespace-nowrap flex flex-row">
        {images.map((image) => <Image class="mx-1" height={200} src={image} alt="" draggable="false" />)}
    </div>
</div>
