---
interface Props {
    header: {
        title: string;
        description: string;
        contact: string;
    };
}

const { header } = Astro.props;
---

<main class="mx-auto mt-8 max-w-5xl flex-col items-center justify-center px-5 py-8 xl:px-0">
    <div class="overflow mx-auto flex max-w-5xl flex-col justify-start gap-4 py-8 md:flex-row xl:px-0">
        <div class="flex flex-col gap-6 md:max-w-4xl">
            <h1 class="text-3xl font-medium text-blue-charcoal-100 lg:text-5xl">Yehezkiel Dio, Software Developer.</h1>
            <p class="text-sm font-normal text-blue-charcoal-300 md:max-w-2xl lg:text-base">
                A software developer and sometimes software architect based in Balikpapan, Indonesia.
            </p>
            <div class="mt-2 flex w-full flex-col gap-4 md:flex-row lg:flex-row">
                <a
                    class="inline-flex h-10 items-center justify-center gap-1 whitespace-nowrap rounded-md bg-blue-charcoal-900 p-5 text-base font-medium text-blue-charcoal-50 ring-offset-white transition duration-300 ease-in-out hover:scale-105 hover:bg-blue-charcoal-900/90 hover:shadow-xl focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-charcoal-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:bg-blue-charcoal-50 dark:text-blue-charcoal-900 dark:ring-offset-blue-charcoal-950 dark:hover:bg-blue-charcoal-50/90 dark:focus-visible:ring-blue-charcoal-300"
                    href=""
                >
                    More about me
                </a>
                <a
                    class="inline-flex h-10 items-center justify-center gap-1 whitespace-nowrap rounded-lg border border-blue-charcoal-900 p-5 text-base font-medium text-blue-charcoal-900 ring-offset-white transition duration-300 ease-in-out hover:scale-105 hover:bg-blue-charcoal-900/90 hover:shadow-xl focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-charcoal-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:text-blue-charcoal-50 dark:ring-offset-blue-charcoal-950 dark:hover:bg-blue-charcoal-900/90 dark:focus-visible:ring-blue-charcoal-300"
                    href=`mailto:${header.contact}`
                >
                    Contact me
                </a>
            </div>
        </div>
    </div>
</main>
