---
import "@fontsource-variable/manrope";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/ico" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="dark bg-blue-charcoal-100 font-sans text-black dark:bg-blue-charcoal-950 dark:text-blue-charcoal-100">
        <slot />
    </body>
</html>
